.dropdown-container {
  position: absolute;
  top: 24px;
  left: 24px;
}

.dropdown-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 6px 11px;
}

.dropdown-text {
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  margin: 0px;
  user-select: none;
}

.dropdown-button {
  color: rgba(0, 0, 0, 0.75);
}

.dropdown-button:hover {
  background-color: bisque;
  border-radius: 4px;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
  padding-left: 11px;
}
